%h2
  =@problem.name
  (
  =@points
  points)
=@problem.description

%h2 Solution
%form{:method=>"POST",:action=>"/submit"}
  %input{:type=>"hidden",:name=>"problem_id",:value=>@problem.id}
  %textarea{:name=>"code",:value=>"Code Here!",:rows=>10,:cols=>90}
  %br
  %input{:type=>"submit"}
