%h2 Submissions:
#submissions
  Loading...
:javascript
  $(document).ready(function() {
    updateSubmissions();
  })
  var shownSubmissions = {}
  var updateSubmissions = function() {
    jQuery.getJSON("/json/submissions/ted27", function(data) {
        if ($("#submissions table").length == 0) {
            $("#submissions").html("<table width='650'><thead><th>Status</th><th>Problem</th><th>Submitted</th><th>Score</th><tbody></tbody></table>")
        }
        data.sort(function(a,b) { return a["submitted"] < b["submitted"] });
        for (i in data) {
            if ($("#submissions table tbody tr#sub-"+data[i]["id"]).length == 0) {
                $("#submissions table tbody").append("<tr id='sub-" + data[i]["id"] + "'><td class='status'>Loading...</td><td class='problem'>Problem</td><td class='submitted'>Submitted</td><td class='score'>Score</td></tr>");
            }
            if (!(data[i]["id"] in shownSubmissions)) {
                $("tr#sub-"+data[i]["id"]+" td.submitted").html(data[i]["submitted"]);
                $("tr#sub-"+data[i]["id"]+" td.problem").html(data[i]["problem"]);
                $("tr#sub-"+data[i]["id"]+" td.score").html(data[i]["score"]);
                shownSubmissions[data[i]["id"]] = data[i];
                shownSubmissions[data[i]["id"]]["status"] = -1;
            }
            // If the status doesn't match, update it.
            // TODO: Make a method for this.
            if (shownSubmissions[data[i]["id"]]["status"] != data[i]["status"]) {
                if (data[i]["status"] == 0) {
                    $("tr#sub-"+data[i]["id"]+" td.status").html("Queued...")
                }
                if (data[i]["status"] >= 100 && data[i]["status"] < 200) {
                    $("tr#sub-"+data[i]["id"]+" td.status").html("Running...")
                }
                if (data[i]["status"] >= 200 && data[i]["status"] < 300) {
                    $("tr#sub-"+data[i]["id"]+" td.status").html("Complete!")
                }
                if (data[i]["status"] >= 500 && data[i]["status"]) {
                    $("tr#sub-"+data[i]["id"]+" td.status").html("Server Error!")
                }
                shownSubmissions[data[i]["id"]]["status"] = data[i]["status"];
            }
            if (shownSubmissions[data[i]["id"]]["score"] != data[i]["score"]) {
                $("tr#sub-"+data[i]["id"]+" td.score").html(data[i]["score"])
            }
            
        }
        window.setTimeout(updateSubmissions, 1000);
    })
  }
